---
import Layout from '../layouts/Layout.astro';
import { projects } from '../assets/projects.js';
import { Image } from 'astro:assets';
---

<Layout>

    <div class="social">
        <a href="https://www.instagram.com/marcflaquer.visuals/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://www.behance.net/marcflaquer" target="_blank" rel="noopener noreferrer">Behance</a>
    </div>
    <section class="feed">
        {projects.map((project, i) => (
            <article class="feed-grid" data-slide>
            <a href={project.url} data-preview={i + 1}>
                <div class="feed-project">
                <figure class="feed-project-fig">
                    <Image src={project.images[0]} alt={project.name} title={project.name} />
                </figure>
                <h2 class="feed-project-title">{project.name}</h2>
                </div>
            </a>
            </article>
        ))}
    </section>

    <style is:inline>

        .title-name {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: clamp(1.5rem, 6vw, 3rem);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            filter: blur(.5rem);
            z-index: 100;
            pointer-events: none;
            transition: filter .7s ease;
            padding: var(--padding);
        }

        .feed {
            position: fixed;
            inset: 0;
            min-height: 100dvh;
            width: 100%;
            overflow-y: auto;
            z-index: 50;
            scrollbar-width: none;
            -ms-overflow-style: none;
            scroll-snap-type: y mandatory;
        }

        .feed::-webkit-scrollbar {
            display: none;
        }

        .feed-grid {
            display: grid;
            grid-template-columns: repeat(24, minmax(0, 1fr));
            user-select: none;
        }

        .feed-project {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .feed-project-fig {
            display: flex;
            align-items: flex-end;
            justify-items: flex-end;
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-select: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
            }
        }

        .feed-project-title {
            position: absolute;
            padding-top: .5rem;
            font-size: 1rem;
            font-weight: 336;
            text-transform: uppercase;
            opacity: 0;
            transition: opacity .3s linear;
        }

        .feed-project:hover .feed-project-title {
            opacity: 1;
        }

        /* data-previews */
        [data-preview="1"] {
            grid-column: 6 / span 11;
        }

        [data-preview="2"] {
            grid-column: 15 / span 8;
        }

        [data-preview="3"] {
            grid-column: 3 / span 12;
        }

        [data-preview="4"] {
            grid-column: 15 / span 10;
        }

        [data-preview="5"] {
            grid-column: 3 / span 6;
        }

        [data-preview="6"] {
            grid-column: 9 / span 11;
        }

        [data-preview="7"] {
            grid-column: 16 / span 10;
        }

        [data-preview="8"] {
            grid-column: 2 / span 12;
        }

        [data-preview="9"] {
            grid-column: 11 / span 14;
        }

        [data-preview="10"] {
            grid-column: span 9;
        }

        [data-preview="11"] {
            grid-column: 13 / span 10;
        }

        [data-preview="12"] {
            grid-column: 2 / span 13;
        }

        [data-preview] {
            margin-top: 2rem;
        }

        @media (min-width: 768px) {
            .feed-grid {
                gap: 2rem;
            }

            [data-preview] {
                margin-top: 4rem;
            }
        }

        @media (min-width: 1024px) {
            .feed-grid {
                gap: 3rem;
            }
        }
    </style>

    <script is:inline>
        const NUM_PROJECTS = 12;

        document.addEventListener("DOMContentLoaded", initAnimations);

        function initAnimations() {
            console.log("pàgina carregada");

            blurTitle();
            infiniteScroll();

            // ajusta l'scroll per que comenci al segon bloc
            const feed = document.querySelector('.feed');
            if (feed) {
                const firstBlock = Array.from(feed.querySelectorAll('.feed-grid')).slice(0, NUM_PROJECTS);
                const blockHeight = firstBlock.reduce((acc, el) => acc + el.offsetHeight, 0);
                feed.scrollTop = blockHeight;
            }
        }

        // Blur del títol
        function blurTitle() {
            let blurTimeout;
            function handleBlur() {
                const MARC = document.querySelector(".title-name");
                if(MARC) {
                    MARC.style.filter = "blur(0px)";
                    clearTimeout(blurTimeout);
                    blurTimeout = setTimeout(() => {
                        MARC.style.filter = "";
                    }, 300);
                }
            }

            window.addEventListener("wheel", handleBlur);
            window.addEventListener("scroll", handleBlur);
            window.addEventListener("touchmove", handleBlur);
        }

        // Scroll infinit
        function infiniteScroll() {
            const feed = document.querySelector('.feed');
            if (!feed) return;

            const projects = Array.from(feed.children);
            const totalProjects = NUM_PROJECTS;

            // duplica el contigut al principi en ordre invers i al final normal
            projects.slice(0, totalProjects).reverse().forEach(project => {
                const cloneStart = project.cloneNode(true);
                feed.insertBefore(cloneStart, feed.firstChild);
            });
            projects.slice(0, totalProjects).forEach(project => {
                const cloneEnd = project.cloneNode(true);
                feed.appendChild(cloneEnd);
            });

            // calcula l'alçada de tots els projectes originals i ajustar l'scroll per que comenci al segon bloc de projectes originals
            const originalProjects = Array.from(feed.children).slice(totalProjects, totalProjects * 2);
            const blockHeight = originalProjects.reduce((acc, el) => acc + el.offsetHeight, 0);

            feed.scrollTop = blockHeight;

            feed.addEventListener('scroll', () => {
                if (feed.scrollTop <= 0) {
                    feed.scrollTop = blockHeight;
                } else if (feed.scrollTop >= feed.scrollHeight - feed.clientHeight) {
                    feed.scrollTop = blockHeight - feed.clientHeight;
                }
            });
        }
    </script>

</Layout>
