---
import Layout from '../layouts/Layout.astro';
import { projects } from '../assets/projects.js';
import { Image } from 'astro:assets';
---

<Layout>

    <div class="social">
        <a href="https://www.instagram.com/marcflaquer.visuals/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://www.behance.net/marcflaquer" target="_blank" rel="noopener noreferrer">Behance</a>
    </div>
    <section class="feed">
        {projects.map((project, i) => (
            <article class="feed-grid" data-slide>
            <a href={project.url} data-preview={i + 1}>
                <div class="feed-project">
                <figure class="feed-project-fig">
                    <Image src={project.images[0]} alt={project.name} title={project.name} />
                </figure>
                <h2 class="feed-project-title">{project.name}</h2>
                </div>
            </a>
            </article>
        ))}
    </section>
    
</Layout>
