---
import Layout from "../layouts/Layout.astro";
import { projects } from '../assets/projects.js';
import { Image } from 'astro:assets';
---

<Layout>
    <section class="projects-list">
        <div class="column">
            {projects.slice(0, Math.ceil(projects.length / 2)).map((project, i) => (
                <a href={`/${project.slug}`} class="list-item">
                    <h2>{project.name}</h2>
                    <span>{String(i + 1).padStart(2, '0')}</span>
                </a>
                <figure class="list-img" data-img-pos={i +1}>
                    <Image src={project.images[0]} alt={project.name} title={project.name} />
                </figure>
            ))}
        </div>
        <div class="column">
            {projects.slice(Math.ceil(projects.length / 2)).map((project, i) => (
                <a href={`/${project.slug}`} class="list-item">
                    <h2>{project.name}</h2>
                    <span>{String(i + 1 + Math.ceil(projects.length / 2)).padStart(2, '0')}</span>
                </a>
                <figure class="list-img" data-img-pos={i + 1 + Math.ceil(projects.length / 2)}>
                    <Image src={project.images[0]} alt={project.name} title={project.name} />
                </figure>
            ))}
        </div>
    </section>

    <style is:inline>
        .projects-list {
            display: flex;
            flex-direction: column;
            padding: 8rem var(--padding) 0;
            gap: 1rem;
        }

        .column {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
        }

        .list-item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            position: relative;
            z-index: 100;
        }
        .list-item h2,
        .list-item span {
            font-family: 'Space Grotesk', monospace;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            white-space: nowrap;
            width: 32px;
        }

        .list-img {
            display: none;
        }

        .title-name {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: clamp(.8rem, 4vw, 1.8rem);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            filter: blur(.25rem);
            z-index: 100;
            pointer-events: auto;
            transition: filter .7s ease;
            padding: var(--padding);
        }

        @media (min-width: 1024px) {
            .projects-list {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                min-height: 100vh;
                width: 100vw;
                gap: 4rem;
                padding: 0 8rem;
                position: fixed;
            }

            .column {
                width: 20%;
                display: flex;
                flex-direction: column;
                position: relative;
            }

            .list-item {
                gap: 2rem;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: center;
            }

            .list-img {
                display: block;
                position: absolute;
                z-index: 2;
                transition: opacity .3s;
                opacity: 0;
                pointer-events: none;
            }

            .list-img img {
                max-width: 40vw;
                height: auto;
                object-fit: contain;
            }

            a.list-item:hover + .list-img {
                opacity: 1;
            }

            .list-img[data-img-pos="1"]  { top: -140%;   left: 120%; }
            .list-img[data-img-pos="2"]  { top: -20%;  left: 200%; }
            .list-img[data-img-pos="3"]  { top: -40%;  left: 150%; }
            .list-img[data-img-pos="4"]  { top: -80%;  left: 180%; }
            .list-img[data-img-pos="5"]  { top: -10%;  left: 200%; }
            .list-img[data-img-pos="6"]  { top: 0%;  left: 180%; }
            .list-img[data-img-pos="7"]  { top: 70%;  left: -200%; }
            .list-img[data-img-pos="8"]  { top: -40%;  left: -250%; }
            .list-img[data-img-pos="9"]  { top: -130%;  left: -180%; }
            .list-img[data-img-pos="10"] { top: 10%;  left: -200%; }
            .list-img[data-img-pos="11"] { top: -80%;  left: -220%; }
            .list-img[data-img-pos="12"] { top: 0%;  left: -200%; }
            
            .title-name {
                font-family: 'Jokker', sans-serif;
                font-weight: 500;
                letter-spacing: 0em;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: clamp(1.5rem, 6vw, 3rem);
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                filter: blur(.5rem);
                z-index: 100;
                pointer-events: none;
                transition: filter .7s ease;
                padding: var(--padding);
            }
        }
    </style>
</Layout>