---
import { projects } from "../data/projects";
import "../styles/feed.css";
---
<section class="feed" data-feed>
  <div class="logo-mfs">
    <h1>Marc Flaquer</h1>
    <p class="logo-subtitle">Framing the instinct. Capturing the truth.</p>
  </div>
  
  <div class="project-display" data-project-display>
    {projects.map((project: any, index: number) => (
      <a 
        href={`/${project.slug}`}
        class={`project-image ${index === 0 ? 'active' : ''}`}
        data-project-index={index}
      >
        <img
          src={project.images[0].src}
          alt={project.name}
          class="main-image"
          loading={index === 0 ? "eager" : "lazy"}
        />
      </a>
    ))}
  </div>

  <div class="project-title-wrapper">
    <div class="project-title">
      <h2 data-project-title>
          {projects[0].name}
      </h2>
      <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" width="1" height="7" fill="var(--white)"/>
        <rect x="7" y="3" width="1" height="7" transform="rotate(90 7 3)" fill="var(--white)"/>
      </svg>
    </div>
    <div class="project-subtitle">
      <p data-project-subtitle>{projects[0].description}</p>
    </div>
  </div>
  
  <div class="thumb-wrapper" data-thumbs>
    <div class="thumb-slider">
      {projects.map((project: any, index: number) => (
        <img
          data-thumb
          data-thumb-index={index}
          src={project.images[0].src}
          alt={project.name}
          data-description={project.description}
          width={40}
          height={24}
          class={`thumb ${index === 0 ? 'active' : ''}`}
          loading="eager"
        />
      ))}
    </div>
  </div>

</section>

<script>
  import "../scripts/feedController.js";
  import "../scripts/subtitleAnimation.js";
</script>